# Answering the whole 12 questions use MySQL

> **Note:** The license 
### The text in the document by  Xinying Shi and Wendi Yu is licensed under [CC BY 3.0](https://creativecommons.org/licenses/by/3.0/us/)
### The code in the document by Xinying Shi and Wendi Yu is licensed under the [MIT License](https://opensource.org/licenses/MIT)

* ### Connect to the database first

In [2]:
%reload_ext sql

In [3]:
try:
    import pymysql
    pymysql.install_as_MySQLdb()
except ImportError:
    pass

In [4]:
%sql mysql://root@localhost:8889/DB_Assignment3

/Users/shixinying/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

'Connected: root@DB_Assignment3'

## Answer the questions

## i. What are people saying about me (somebody)?

* ### <font color=#47413E face="Didot"><I> Search the tags of player "Roger Federer", thus we could know when people talk about Roger Federer, what will they say(tags)

In [5]:
%sql SELECT twitter.tag_text FROM twitter \
WHERE twitter.key_word LIKE 'Roger Federer%'

3 rows affected.

[('VolvoCarOpen',), ('RogerFederer',), ('WrestleMania',)]

## ii. How viral are my posts?

* ### <font color=#47413E face="Didot"><I> Assume the user's id is '42869268', and search all the retweets after he/she post, and calculate the average  
(we assume that the viral of a post equals the average of the count of retweets)

In [6]:
%sql \
SELECT avg(twitter.retweet_count) AS viral \
FROM twitter \
WHERE user_id = 42869268;

1 rows affected.

[(Decimal('3.6000'),)]

## iii. How much influence to my posts have?

* ### <font color=#47413E face="Didot"><I> Assume the user's id is '42869268', search all the heat after he/she post, and calculate the average

(we assume that the influence of a post could be measured by heat, and we define heat = retweet_count + like_conut)

In [7]:
%sql \
SELECT avg(retweet_count + twitter.like_count) AS heat \
FROM twitter \
WHERE user_id = 42869268;

1 rows affected.

[(Decimal('14.8000'),)]

## iv. What posts are like mine?

* ### <font color=#47413E face="Didot"><I> Assume my post is about Roger Federer. Use the SQL syntax to search the posts which contain the key word "Roger Federer" in tweet text.

In [10]:
%sql \
SELECT twitter.tweet_text FROM twitter \
WHERE twitter.tweet_text LIKE "%Roger Federer%";

5 rows affected.

[('Roger Federer is like Maradona and Messi, says tennis star Diego Schwartzman\n\n#RogerFederer #DiegoSchwartzman\x85 https://t.co/IbaCLnYcI6',),
 ('Roger Federer is like Maradona and Messi, says tennis star Diego Schwartzman\n\n#RogerFederer #DiegoSchwartzman\x85 https://t.co/IbaCLnYcI6',),
 ('DE PIE PARA EL ROGER FEDERER DE LA LUCHA LIBRE. #WrestleMania https://t.co/lrOmngcPqi',),
 ("#Breaking Rafael Nadal reclaims top position in men's ATP rankings replacing Roger Federer; Hyeon Chung breaks into\x85 https://t.co/JXVtKlHfX2",),
 ('#RaceToLondon\n\n1) Roger Federer (3.110)\n2) Juan Martín del Potro (2.120)\n3) Marin Cilic (1.470)\n4) Hyeon Chung (1.2\x85 https://t.co/WAbmLJKRxC',)]

## v. What users post like me?

* ### <font color=#47413E face="Didot"><I> As a example, assume my post is about Roger Federer and tennis, then use SQL syntax to get user_id and the tweet text which contains the key word "tennis" or "Roger Federer"

In [11]:
%sql \
SELECT DISTINCT twitter.user_id, twitter.tweet_text FROM twitter \
WHERE twitter.tweet_text REGEXP 'Roger Federer|Tennis';

36 rows affected.

[(403670899.0, 'Roger Federer is like Maradona and Messi, says tennis star Diego Schwartzman\n\n#RogerFederer #DiegoSchwartzman\x85 https://t.co/IbaCLnYcI6'),
 (8.200112787354092e+17, 'Spain Survives Davis Cup Struggle Behind Rafael Nadal and David Ferrer \x96 Mondays with Bob Greene https://t.co/CnICgRrLHQ #tennis'),
 (3160066737.0, 'RT @pharedk: #LoonPlage Le Nordiste Lucas Pouille une nouvelle fois héros de la patrie en Coupe Davis #tennis ? https://t.co/yR3UnvV4v6'),
 (103574078.0, '???????????????????\n\nAndy Murray Tennis Street Magic in London\nhttps://t.co/wikaSfLIv5\n\n?????????????????? #?????'),
 (2999436016.0, 'Tennis&gt;Coupe Davis: Lucas Pouille?: un week-end qui comptera:Le n-- https://t.co/OWkXxdIIET #tennis https://t.co/dy7dnP0yb9'),
 (43905364.0, '#BBC Sport - #DavisCup #Tennis: #Rafael #Nadal and David #Ferrer put #Spain into semi-finals https://t.co/BvVzQDdGz1'),
 (729845191.0, 'DE PIE PARA EL ROGER FEDERER DE LA LUCHA LIBRE. #WrestleMania https://t.co/lrOmngcPqi'),
 (2999436016.0, "Tennis: Lucas Pouille\xa0s'oppose à la réforme de la Coupe Davis: «\xa0-- https://t.co/sV5Qgz9Bcq #tennis https://t.co/BHl1KHanGh"),
 (3374876560.0, 'Doubles win by Jack Sock, Ryan Harrison puts U.S. in #DavisCup semifinals: https://t.co/vw8uZxOiZa\n#Tennis'),
 (587708785.0, 'RT @pharedk: #LoonPlage Le Nordiste Lucas Pouille une nouvelle fois héros de la patrie en Coupe Davis #tennis ? https://t.co/yR3UnvV4v6'),
 (117044965.0, 'RT @pharedk: #LoonPlage Le Nordiste Lucas Pouille une nouvelle fois héros de la patrie en Coupe Davis #tennis ? https://t.co/yR3UnvV4v6'),
 (8.200112787354092e+17, 'Sock, Harrison put U.S. in Davis Cup semis https://t.co/r7oI5fnTiw #tennis'),
 (3061460756.0, 'Tennis Watch - Davis Cup, Jack Sock #SockWinnerSpeeds, WOW! #JMCVsports  #JMCVdaily #SportsDaily #SportsJunkie\x85 https://t.co/hioGvN15kr'),
 (3374876560.0, '.@JohnIsner, Sam Querrey put U.S. on verge of #DavisCup semifinal berth: https://t.co/8NEqgIxQ8s\n#Tennis'),
 (8.480039618105426e+17, "UNBELIEVABLE #RogerFederer is able to hit\xa0shots that do not exist in tennis' book - says Sam Querrey.\nhttps://t.co/yhJ6SndS4e"),
 (604842991.0, "Tennis:Belgique&gt;Coupe Davis | De Loore proche de l'exploit contre- https://t.co/bAEkGTm3At #tennis https://t.co/RwJ8une6am"),
 (9.673160831023636e+17, 'The best boy and the best player ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD\x85 https://t.co/wRzX47MiXi'),
 (9.673160831023636e+17, 'The best boy and the best player ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD\x85 https://t.co/7GLRs54WQN'),
 (9.673160831023636e+17, 'The best boy and the best player ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD\x85 https://t.co/3FCa2WrdRt'),
 (9.673160831023636e+17, 'Practice makes perfect ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD #grigor\x85 https://t.co/fWl88TVEck'),
 (9.673160831023636e+17, 'Training ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD #grigor #dimitrov\x85 https://t.co/pfh90443xR'),
 (9.673160831023636e+17, '??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD #grigor #dimitrov #grigordimitrov\x85 https://t.co/mVV3Y57RtJ'),
 (1014421435.0, 'RT @LeedsTennis: Practice on Court Rainier III with @david__goffin #rolexmcmasters #mccc #Comingsoon https://t.co/QE4Q93rpwv https://t.co/9\x85'),
 (4801632014.0, 'RT @tennisplazabenl: .@David__Goffin werkt aan terugkeer in Monaco: https://t.co/2GST6gjgeh #tennis #atp'),
 (738282594.0, '.@David__Goffin werkt aan terugkeer in Monaco: https://t.co/2GST6gjgeh #tennis #atp'),
 (604842991.0, 'Tennis &gt; Sport&gt;"J\'ai été bluffé par David Goffin": Xavier Malisse..https://t.co/jpVqxIJmiW #tennis https://t.co/b818DvWFWQ'),
 (8.640965817121382e+17, 'RT @Eustoma8: Kei Nishikori \n\n#keinishikori \n#nycblive \n#nyopen \n#nyopentennis \n\nhttps://t.co/n1g3KEdNhL https://t.co/LlSKl7Bjr1'),
 (2366639865.0, 'RT @TennisActu: ATP - Monte-Carlo : Stan Wawrinka wild-card de luxe? #rolexmcmasters #wawrinka #federer https://t.co/AOertajGut'),
 (4925115757.0, 'Koreas tennis sensation Chung Hyeon ranked 19th in latest ATP rankings |\xa0#Tennis https://t.co/Eqe9FqNHHh'),
 (1949984354.0, 'RT @TennisActu: ATP - Monte-Carlo : Stan Wawrinka wild-card de luxe? #rolexmcmasters #wawrinka #federer https://t.co/AOertajGut'),
 (2189730625.0, "#Breaking Rafael Nadal reclaims top position in men's ATP rankings replacing Roger Federer; Hyeon Chung breaks into\x85 https://t.co/JXVtKlHfX2"),
 (8.445920234202604e+17, 'RT @TennisActu: ATP - Monte-Carlo : Stan Wawrinka wild-card de luxe? #rolexmcmasters #wawrinka #federer https://t.co/AOertajGut'),
 (208586748.0, 'RT @TennisActu: ATP - Monte-Carlo : Stan Wawrinka wild-card de luxe? #rolexmcmasters #wawrinka #federer https://t.co/AOertajGut'),
 (227745356.0, 'RT @TennisActu: ATP - Monte-Carlo : Stan Wawrinka wild-card de luxe? #rolexmcmasters #wawrinka #federer https://t.co/AOertajGut'),
 (3128852586.0, 'RT @pimpmytennis: .@keinishikori caught a big fish ? King of the lake!\nFreeHD? https://t.co/hwymOaR5uj\n#MountFuji #AprilFoolDay #Fujiyama #\x85'),
 (1960958143.0, '#RaceToLondon\n\n1) Roger Federer (3.110)\n2) Juan Martín del Potro (2.120)\n3) Marin Cilic (1.470)\n4) Hyeon Chung (1.2\x85 https://t.co/WAbmLJKRxC')]

## vi. Who should I be following?

* ### <font color=#47413E face="Didot"><I> At firts, the people I should follow should have similar content, Second, the tweets he/she posts should have high quality.  
    
    <B>So, we use the result of question V, which shows the users like me  
    <B>And then find who has the best influence(use heat) and the heats >5   
    <B>I should follow someone who has more influence

In [20]:
%sql \
SELECT twitter.user_id, twitter.tweet_text, twitter.heats FROM twitter \
  WHERE twitter.tweet_text REGEXP 'Roger Federer|Tennis' \
    AND heats>5 \
  ORDER BY heats DESC ;

4 rows affected.

[(8.480039618105426e+17, "UNBELIEVABLE #RogerFederer is able to hit\xa0shots that do not exist in tennis' book - says Sam Querrey.\nhttps://t.co/yhJ6SndS4e", 18),
 (9.673160831023636e+17, 'Practice makes perfect ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD #grigor\x85 https://t.co/fWl88TVEck', 7),
 (9.673160831023636e+17, 'Training ??? @GrigorDimitrov #monaco #montecarlo #montecarlorolexmasters #tennis #GD #grigor #dimitrov\x85 https://t.co/pfh90443xR', 7),
 (8.640965817121382e+17, 'RT @Eustoma8: Kei Nishikori \n\n#keinishikori \n#nycblive \n#nyopen \n#nyopentennis \n\nhttps://t.co/n1g3KEdNhL https://t.co/LlSKl7Bjr1', 6)]

## vii. What topics are trending in my domain?

* ### <font color=#47413E face="Didot"><I> Due to the twitter data we scraped is from 2018-04-03 to 2018-04-09, We search for different day's most popular tag to see the trending.

In [23]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 9 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('DavisCup', 3)]

In [24]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 8 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('DavisCup', 9)]

In [26]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 7 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('CoupeDavis', 2)]

In [27]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 6 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('monaco', 6)]

In [28]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 5 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('rolexmcmasters', 12)]

In [29]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 4 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('tennis', 3)]

In [30]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
WHERE twitter_day = 3 \
GROUP BY tag_text ORDER BY count DESC LIMIT 1;

1 rows affected.

[('rolexmcmasters', 4)]

### <font color=#6495ED>We assume the tag which has the most count is the trending in our domain  
### <font color=#6495ED>So the trending is:  
### <font color=#6495ED><B>DavisCup -> DavisCup -> CoupeDavis -> monaco -> rolexmcmasters -> tennis -> rolexmcmasters</B>

## viii. What keywords/ hashtags should I add to my post?

* ### <font color=#47413E face="Didot"><I> In face, some hashtags have more influence than others, so we should add these tags to our posts which talk about the same topic. 
#### <font color=#47413E face="Didot"><I>So, we search the Top 10 hashtags which included in most tweets. And then we should add these tags.

In [31]:
%sql \
SELECT twitter.tag_text, count(*) AS count \
FROM twitter \
GROUP BY twitter.tag_text \
ORDER BY count DESC LIMIT 10;

10 rows affected.

[('rolexmcmasters', 20),
 ('DavisCup', 14),
 ('CopaDavis', 11),
 ('tennis', 10),
 ('Nolefam', 6),
 ('monaco', 6),
 ('Djokovic', 5),
 ('CoupeDavis', 5),
 ('actors', 3),
 ('LoonPlage', 3)]

## ix. Should I follow somebody back?

* ### <font color=#47413E face="Didot"><I> I should follow somebody back if I should be following them see vi. 
### <font color=#47413E face="Didot"><I>Assume I was Rafael Nadal, and then I should try to find the person who talked about me or something I am interedted most.

<B>Search for the first 5 people talked most about what I am interested

In [56]:
%sql \
SELECT twitter.user_id, twitter.tweet_text, twitter.heats FROM twitter \
  WHERE twitter.tweet_text REGEXP 'Rafael|Nadal|Rafael Nadal|daviscup' \
  ORDER BY heats DESC \
LIMIT 5;

5 rows affected.

[(42869268.0, "Rafael #Nadal heads into the European clay season as the World No. 1 - but can he stay there?\n\nIt's a mammoth ask.\x85 https://t.co/2hL5HPZVhM", 42),
 (48245440.0, '#TENISxESPN #LaGiraSoñada Roland Garros contará con tres retadores a Rafael Nadal: Dominic Thiem, Stanislas Wawrink\x85 https://t.co/nPujaonYst', 26),
 (409738504.0, 'Sam Querrey gives #TeamUSA a 2-0 #DavisCup QF lead over Belgium with a 6-1, 7-6, 7-5 win against world No. 110 Rube\x85 https://t.co/stNz3P4DUS', 21),
 (42869268.0, "USA ?? are the first team into the #DavisCup semi-finals in 2018 after Jack Sock and Ryan Harrison won Saturday's d\x85 https://t.co/RP3RCoHZVm", 8),
 (211475875.0, 'Quart de finale USA/Belgique de #DavisCup 3/0, double: Ryan Harrison/Jack Sock battent Sander GILLE/Jordan VLIEGEN\x85 https://t.co/H3TXYGdhK7', 7)]

<B>And then check the relation between each person and me

In [41]:
import tweepy 
import pandas as pd
import csv

consumer_key = 'gWnX6L9mVNmA7KGOnUz38Vj6L'
consumer_secret = 'NUj4HlFqqsKNRymkpNdHkGlz5XWywy8WTulpuCk4E9el0ejDhp'
access_token = '3299502536-ftNdzck0S2vTc0jigoouDXSx9WuYqkn6soXyqJy'
access_secret = 'XnYMNuNBHbcAYp3RFmhMj7v9ZP6KDDOl46mpKCLYji8V6'


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)
if (not api):
    print ("Problem connecting to API")

<B>Rafael Nadal twitter id is: 344634424

Other users ids are 383123103, 848003961810542590, 967316083102363650

In [61]:
ids = [42869268,409738504,48245440,211475875]
for item in ids:
    print(api.show_friendship(source_id=344634424, target_id = item))
    print("")

(Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=344634424, id_str='344634424', screen_name='RafaelNadal', following=False, followed_by=True, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=True, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None), Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=42869268, id_str='42869268', screen_name='livetennis', following=True, followed_by=False, following_received=None, following_requested=None))

(Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=344634424, id_str='344634424', screen_name='RafaelNadal', following=False, followed_by=False, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=False, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None), Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=409738504, id_str='409738504', screen_name='AMarshallSport', following=False, followed_by=False, following_received=None, following_requested=None))

(Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=344634424, id_str='344634424', screen_name='RafaelNadal', following=False, followed_by=True, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=True, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None), Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=48245440, id_str='48245440', screen_name='ESPNtenis', following=True, followed_by=False, following_received=None, following_requested=None))

(Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=344634424, id_str='344634424', screen_name='RafaelNadal', following=False, followed_by=True, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=True, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None), Friendship(_api=<tweepy.api.API object at 0x10ed352b0>, id=211475875, id_str='211475875', screen_name='chachristine', following=True, followed_by=False, following_received=None, following_requested=None))

### <font color=#6495ED><B> So, as shown above, I(Rafael Nadal) should follow back the user "livetennis","ESPNtenis","chachristine"

## x. What is the best time to post?

* ### <font color=#47413E face="Didot"><I> In order to fine the best time to post tweets about a specific topic, we should sort the post time and see the heat(like_count + comment_count)

    <B>1. Grouping the posts' heat by hours  
    <B>Search for the heat(comment_count + like_count) and group by the hour to see what is the best time to post in a day

In [118]:
%sql \
SELECT ins.hour, avg(DB_Assignment3.ins.heat) AS best_time \
FROM ins WHERE ins.tags LIKE "%rogerfederer%" \
GROUP BY ins.hour \
ORDER BY avg(ins.heat) \
DESC ;

15 rows affected.

[(21, Decimal('24702.0000')),
 (17, Decimal('23847.5000')),
 (23, Decimal('21178.3333')),
 (19, Decimal('20536.3333')),
 (14, Decimal('20316.0000')),
 (11, Decimal('20140.5000')),
 (0, Decimal('19825.0000')),
 (18, Decimal('16190.3333')),
 (6, Decimal('15961.0000')),
 (20, Decimal('15423.0000')),
 (1, Decimal('12590.0000')),
 (16, Decimal('12378.0000')),
 (13, Decimal('11476.0000')),
 (9, Decimal('9601.0000')),
 (12, Decimal('9052.0000'))]

### <font color=#6495ED><B> So, the best time in a day to post something about Roger Federer is the 9pm

   <B>2. Grouping the posts by weekdays  
    <B>Search for the heat(comment_count + like_count) and group by the weekdays to see what is the best time to post in a week

In [5]:
%sql \
SELECT DB_Assignment3.ins.weekday, avg(heat) AS best_time \
FROM ins WHERE ins.tags LIKE "%rogerfederer%" \
GROUP BY ins.weekday \
ORDER BY avg(ins.heat) \
DESC ;

7 rows affected.

[(1, Decimal('21535.0000')),
 (0, Decimal('20573.5000')),
 (5, Decimal('19825.0000')),
 (4, Decimal('17388.0000')),
 (6, Decimal('16580.6250')),
 (2, Decimal('14528.4000')),
 (3, Decimal('10212.0000'))]

### <font color=#6495ED><B> So, the best time in a week to post is the Sunday and Monday.

## xi. Should I add and picture or url to my post?

* ### <font color=#47413E face="Didot"><I> We should measure the influence about posts between having urls and without urls, compare them by seeing the average of their heat(like_count + comment_count). More heat means more influence.

<B>Calculate the average of heat of tweets with url

In [113]:
%sql \
SELECT avg(heats) \
FROM twitter \
WHERE url IS NOT null;

1 rows affected.

[(Decimal('6.1532'),)]

<B>Calculate the average of heat of tweets without url

In [111]:
%sql \
SELECT avg(heats) \
FROM twitter \
WHERE url IS null;

1 rows affected.

[(Decimal('0.5000'),)]

### <font color=#6495ED><B> So, we should add a picture or url to our post

## xii. What’s my reach?

* ### <font color=#47413E face="Didot"><I> We consider the reach could be measured by people who focus on other domain still retweet my post.

<B> 1. Search a tweet that has the most heat and use this tweet to find its reach

In [99]:
%sql \
SELECT twitter.url,twitter.heats, twitter.user_id \
FROM twitter \
ORDER BY twitter.heats DESC LIMIT 1;

1 rows affected.

[('https://t.co/HILIojV6LH', 58, 14836197.0)]

<B>2. Use the url to search its tweet id, and the id is 981924371647393793

In [96]:
api.retweeters(id=981924371647393793,count = 10)

[129111088,
 1242977138,
 962993694956638208,
 841454852572119042,
 905502027387723776,
 867867841248333824]

<B> 2.1 Use the retweeters' id to see their basic info

In [101]:
user1 = api.get_user(129111088)
print(user1.name, user1.screen_name, str(user1.statuses_count), str(user1.friends_count), str(user1.followers_count))

Rajsingh Nimbalkar raj_fedx 408 131 90

In [102]:
from datetime import datetime, date, time, timedelta
from tweepy import Cursor

hashtags = []
mentions = []
tweet_count = 0
end_date = datetime.utcnow() - timedelta(days=50)
for status in Cursor(api.user_timeline, id=129111088).items():
      tweet_count += 1
      if hasattr(status, "entities"):
        entities = status.entities
        if "hashtags" in entities:
          for ent in entities["hashtags"]:
            if ent is not None:
              if "text" in ent:
                hashtag = ent["text"]
                if hashtag is not None:
                  hashtags.append(hashtag)
        if "user_mentions" in entities:
          for ent in entities["user_mentions"]:
            if ent is not None:
              if "screen_name" in ent:
                name = ent["screen_name"]
                if name is not None:
                  mentions.append(name)
      if status.created_at < end_date:
        break

<B>2.2 Search the users mentioned most by user 129111088

In [103]:
from collections import Counter
for user1, count in Counter(mentions).most_common(10):
      print(user1 + "\t" + str(count))

usopen	15
Wimbledon	3
IndiaHistorypic	3
rithvik_RD	2
rolandgarros	1
EpicChannelIn	1
rnadalacademy	1
ValaAfshar	1
mhingis	1
timesofindia	1

<B>2.3 Search the hashtags metioned most by user 129111088

In [104]:
for user1, count in Counter(hashtags).most_common(10):
      print(user1 + "\t" + str(count))

USOpen	8
USOpen50	2
RG18	1
StoriesByRabindranathTagore	1
RNArules	1
DeathForRapists	1
USOpenSeries	1
SaveWater	1

### <font color=#6495ED><B> As shown above, this user's domain is focus on tennis, and the tweet's reach is still in the tennis, we need to try more user.

<B> 3.1 Use the retweeters' id to see their basic info

In [106]:
user1 = api.get_user(1242977138)
print(user1.name, user1.screen_name, str(user1.statuses_count), str(user1.friends_count), str(user1.followers_count))

e.o eazeee2004 752839 941 1603

In [107]:
from datetime import datetime, date, time, timedelta
from tweepy import Cursor

hashtags = []
mentions = []
tweet_count = 0
end_date = datetime.utcnow() - timedelta(days=50)
for status in Cursor(api.user_timeline, id=1242977138).items():
      tweet_count += 1
      if hasattr(status, "entities"):
        entities = status.entities
        if "hashtags" in entities:
          for ent in entities["hashtags"]:
            if ent is not None:
              if "text" in ent:
                hashtag = ent["text"]
                if hashtag is not None:
                  hashtags.append(hashtag)
        if "user_mentions" in entities:
          for ent in entities["user_mentions"]:
            if ent is not None:
              if "screen_name" in ent:
                name = ent["screen_name"]
                if name is not None:
                  mentions.append(name)
      if status.created_at < end_date:
        break

<B>3.2 Search the users mentioned most by user 1242977138

In [108]:
from collections import Counter
for user1, count in Counter(mentions).most_common(10):
      print(user1 + "\t" + str(count))

WTA	241
livetennis	209
NFL	201
ProFootballTalk	188
PorscheTennis	175
nflnetwork	142
NFLDraft	128
NHLonNBCSports	127
PFF	115
RapSheet	95

<B>3.3 Search the hashtags mentioned most by user 1242977138

In [109]:
for user1, count in Counter(hashtags).most_common(10):
      print(user1 + "\t" + str(count))

NFLDraft	310
StanleyCup	121
Eagles	103
PTGP2018	100
IstanbulCup	47
bcnopenbs	39
Game7	37
Dimitrov	35
porschetennis	34
MayockMock	34

### <font color=#6495ED><B> As shown above, this user's hashtags were focus on football, and the tweet's reach arrived the domain football.